
.hero-container {
    position: relative; 
    z-index: 100;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),url(./images/cinema.jpg);
    background-position: center;
    background-size: cover;
    opacity: 120%;
}

.tall-hero-container {
    position: relative; 
    z-index: 100;
    height: 50vh;
}

.hero-text {
    position: relative;
    z-index: 200;
    font-weight: 200;
    letter-spacing: 3px;
}

.movie-hero-text {
    font-size: 4rem;
    position: absolute;
    bottom: 10px;
    font-weight: 150;
    z-index: 200;
}

.hero-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.4;
}

.nav {
  color: grey !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.genres {
  padding-left: 1rem;
  list-style-type: circle;
}

@media (max-width: 576px) {
  .col-lg-3 {
    display: flex;
    justify-content: center !important;
  }

  .col-m-9 {
    padding-top: 5px;
  }

  .card {
    width: 20rem !important;
  }

  .hero-text {
    font-size: 1.7rem;
  }

  .movie-hero-text {
    font-size: 3rem;
  }

  .unavailable {
    padding: 2rem;
  }

  .about {
    padding: 0rem 2rem;
  }

}

